@* @model ContactModel *@

@* <div class="row"> *@
@*     <div class="col-sm-7 col-md-7"> *@
@*         @Html.Raw(@Model.Map) *@
@*     </div> *@
@*     <div class="col-sm-4"> *@
@*         <div class="address"> *@
@*             <h5><b>@Model.Name</b></h5> *@
@*             <h5>@Model.Email</h5> *@
@*             <h5>@Model.Phone</h5> *@

@*         </div> *@
@*     </div> *@

@* </div> *@

@model ContactModel

<section class="contact-section py-5">
    <div class="container">
        <div class="row align-items-center gx-5">

            <!-- Thông tin liên hệ bên trái -->
            <div class="col-md-6 mb-4 mb-md-0">
                <div class="contact-info p-4 bg-light rounded shadow-sm h-100">
                    <h3 class="mb-4 text-dark">Liên hệ với chúng tôi</h3>

                    <ul class="list-unstyled fs-5">
                        <li class="mb-3">
                            <i class="fa fa-user me-2 text-primary"></i>
                            <strong>@Model.Name</strong>
                        </li>
                        <li class="mb-3">
                            <i class="fa fa-envelope me-2 text-danger"></i>
                            <a href="mailto:@Model.Email">@Model.Email</a>
                        </li>
                        <li class="mb-3">
                            <i class="fa fa-phone me-2 text-success"></i>
                            <a href="tel:@Model.Phone">@Model.Phone</a>
                        </li>
                    </ul>

                    <div class="mt-4">
                        <a href="mailto:@Model.Email" class="btn btn-primary me-2">
                            <i class="fa fa-paper-plane"></i> Gửi Email
                        </a>
                        <a href="tel:@Model.Phone" class="btn btn-outline-dark">
                            <i class="fa fa-phone"></i> Gọi ngay
                        </a>
                    </div>
                </div>
            </div>

            <!-- Bản đồ bên phải -->
            <div class="col-md-6">
                <div class="map-container shadow-sm rounded overflow-hidden">
                    @Html.Raw(Model.Map)
                </div>
            </div>

        </div>
    </div>
</section>
