@model ProductDetailsViewModel
@{
	ViewData["Title"] = "Chi tiết sản phẩm";
}
<div class="row">
	<div class="col-sm-3">
		@Html.Partial("_SidebarPartial")
	</div>

	<div class="col-sm-9 padding-right">
		<div class="product-details">
			<!--product-details-->
			<div class="col-sm-5">
				<div class="view-product">
					<img src="~/media/products/@Model.ProductDetails.Image" width="100px" height="200px" alt="" />
					
				</div>
				

			</div>
			<div class="col-sm-7">
				<div class="product-information">
					<!--/product-information-->

					<h2>@Model.ProductDetails.Name</h2>

					<span>
						<span id="gia">@Model.ProductDetails.Price.ToString("#,##0 đ")</span>
						
						@if (Model.ProductDetails.Quantity > 0)
						{
							<button class="btn btn-default add-to-cart" data-product_id="@Model.ProductDetails.Id"><i class="fa fa-shopping-cart"></i>Thêm giỏ hàng</button>
							
						}
						else
						{
							<button type="button" class="btn btn-fefault cart-error">
								<i class="fa fa-shopping-cart"></i>
								Hết hàng
							</button>
						}
					</span>
					<p><b>Danh mục:</b> @Model.ProductDetails.Category.Name</p>
					<p><b>thương hiệu:</b> @Model.ProductDetails.Brand.Name</p>
					
					
				</div><!--/product-information-->
			</div>
		</div><!--/product-details-->

		<div class="category-tab shop-details-tab">
			<!--category-tab-->
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#details" data-toggle="tab">Chi tiết</a></li>
					
					<li><a href="#reviews" data-toggle="tab">Đánh giá</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade active in" id="details">
					@Model.ProductDetails.Description

					@Model.ProductDetails.Description

				</div>

				

				

				<div class="tab-pane fade" id="reviews">
					<div class="col-sm-12">

						<form autocomplete="off" asp-action="CommentProduct" asp-controller="Product" method="post">
							<span>
								<input type="hidden" name="ProductId" asp-for="@Model.ProductDetails.Id" />
								<input type="hidden" name="Star" value="4"/>
								<input asp-for="@Model.Name" type="text" placeholder="Nhập tên" />
								<span asp-validation-for="@Model.Name" class="text-danger"></span>
								<input asp-for="@Model.Email" type="email" placeholder="Nhập Email" />
								<span asp-validation-for="@Model.Email" class="text-danger"></span>
							</span>
							<textarea asp-for="@Model.Comment"></textarea>
							<span asp-validation-for="@Model.Comment" class="text-danger"></span>
							<b>Đánh giá: </b> <img src="images/product-details/rating.png" alt="" />
							<button type="submit" class="btn btn-default pull-right">
								Gửi
							</button>
						</form>
					</div>
				</div>

			</div>
		</div><!--/category-tab-->

		<div class="recommended_items">
			<!--recommended_items-->
			<h2 class="title text-center">Sản phẩm liên quan</h2>

			<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">

					<div class="item active">
						@foreach (var relatedProduct in @ViewBag.RelatedProducts as IEnumerable<ProductModel>)
						{
							<div class="col-sm-4">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<a asp-action="Details" asp-asp-controller="Product" asp-route-Id="@relatedProduct.Id">
												<img src="~/media/products/@relatedProduct.Image" alt="" />
												<h2>@relatedProduct.Price.ToString("#,##0 đ")</h2>
												<p>@relatedProduct.Name</p>
												<p>Danh mục: @relatedProduct.Category.Name</p>
												<p>Thương hiệu: @relatedProduct.Brand.Name</p>
											</a>
											
											
										</div>
									</div>
								</div>
							</div>
						}
						
					</div>
				</div>
				<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div><!--/recommended_items-->

	</div>
</div>
@section Scripts {
    
    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function () {
                var Id = $(this).data("product_id");

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Add", "Cart")",
                    data: { Id: Id },

                    success: function (result) {
                        if (result) {

                            Swal.fire("Thêm giỏ hàng thành công.");
                        }
                    }

                });
            });
        });
    </script>
	}